.box {
    border: 5px solid black;
    margin-bottom: 4rem;
    width: 20rem;
    height: 4rem;
}

.box1 { 
    overflow::visible;


}

.box2 { 

    overflow: hidden;
}

.box3 { 
    overflow: scroll;
    
}

.box4 { 

    overflow: auto; /*scrolları ihtiyaç yoksa yok eder.*/
}

.box5 { 
    overflow: auto;
    
}

.paragraf {
    width: 50rem;
}