body {
    font-family: 'Alumni Sans Inline One', cursive;
}

nav.Yatay_menu ul li a {
    text-decoration: none;
    color: aqua;
}

nav.Yatay_menu ul li {
    list-style: none;
    display: inline-block; /* inline ve block gibi davranır ama block olmasına rağmen margin vs verebiliyoruz */
    background-color: aliceblue;
    padding: 1rem 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: 3rem;
    border-radius: 20px;
}

nav.Yatay_menu ul {
    text-align: center;
    
}

nav.Yatay_menu ul li:hover {
    background-color: blueviolet;
    cursor: pointer;
}

nav.Yatay_menu ul li a:hover {
    /* color: white; Burada sadece yazının üzerine gelince yazıdeğişir bu yanlış olur */

}


nav.Yatay_menu ul li:hover a {/* hover olduğunda a nın rengini değiştir. Hover yaparken : noktayı boşluk yapmadan ver. */
    color: white;
}


/**************AÇILIR MENU************/

nav.acılır-menu {
    width: 240px;
    border: 1px solid red;
}

nav.acılır-menu ul {
    display: none;
}

nav.acılır-menu:hover ul {
    display: block;

}

nav.acılır-menu .fa-amazon:active {
    opacity: 0.5;
}








