


#id4{
    background-image:url(ben.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}

#id{
    color: yellow;
    text-align: center;
}


#id2{
    color: aqua;
    margin-left: 100px;
}

#id3{
    color:chartreuse;
    margin-left: 150px;

}
 

.class2{
    color:red;
}

































