* {
    box-sizing: border-box;
    text-align: center; /* Yazıları ortalar. */
    margin: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 200px 40vw 20rem; /*! Burada üç  adet sutun tanımladık. */
    grid-template-rows: 100px 500px 20vh 5rem; /*! Burada ise dört adet sutun yaptık */
    justify-content:center; /*! Grid seviyesinde hizalama yapıldı */
    align-items: center; 
    /*?  Centerda itemler auto yükseklik alırlar. */
    /*! Yukarıda bunu kullanırsak dikey hizalamayı div in hacmi içinde hizalama yapıyor.Yani kendi grid alanları içinde hizalıyor dikeyde. */
}

.content {
    background-color: darksalmon;
    border: 2px solid black;
    display: flex; /*! Bu table cell lerde display flex kullanabilinir. Sonrasında justfly-content:center ve alıng-items:center ile yazılar ortalanabilir. */
    justify-content: center;
    align-items: center;
}

.content7 {
    background-image: url(https://i.ytimg.com/vi/FulyL4oFj40/maxresdefault.jpg);
    background-size: cover; /*! Resmi içine sığdırır tam olarak  */
    background-position: center; /*! Resmi center a alır. */

}

.content5 {
    background-color: coral;
}